# Establece el comportamiento predeterminado para todos los archivos de texto.
# Git intentará detectar si es texto o binario y manejará los finales de línea automáticamente.
* text=auto eol=lf

# Fuerza explícitamente los finales de línea a LF para los tipos de archivo más comunes.
# Esto asegura que en el repositorio de Git siempre se guarden con LF.
*.js      text eol=lf
*.jsx     text eol=lf
*.ts      text eol=lf
*.tsx     text eol=lf
*.json    text eol=lf
*.md      text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.html    text eol=lf
*.css     text eol=lf
*.scss    text eol=lf

# Para scripts de shell de Windows, es mejor mantener CRLF
*.bat     text eol=crlf
*.cmd     text eol=crlf